.header {
  display: flex;
  justify-content: space-around;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  margin-bottom: 20px;
}

.card button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background-color: #0056b3;
}

footer {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}

.stars {
  display: flex;
  padding-top: 1em;
}

.fa-star {
  font-size: 16px;
}

.fa-star.active,
.fa-star.active-half {
  color: orange;
}